body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}


#compose, #messages {
    margin-bottom: 2em;
}

form {
    display: grid;
    gap: 1em;
}

label {
    font-weight: bold;
}

textarea {
    width: 100%;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}

/* Добавляем стили для первой части главной страницы */
#sidebar {
    float: left;
    width: 20%;
    height: 80vh;
    background-color: #3498db; /* Голубой цвет */
    color: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#send-message-button button {
    background-color: #fff;
    color: #3498db;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 1em;
}

#account-list h3 {
    margin-bottom: 0.5em;
}

#authorized-accounts {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#authorized-accounts li {
    margin-bottom: 0.5em;
}

#folders {
    background-color: #4ecec3; /* Зеленый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 1em; /* Добавим отступ сверху для разделения от предыдущего блока */
}

#folder-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#folder-list li {
    cursor: pointer;
    padding: 0.5em;
    border-radius: 4px;
    margin-bottom: 0.5em;
    background-color: #3498db; /* Цвет фона при наведении на пункт */
}

#folder-list li:hover {
    background-color: #2980b9; /* Цвет фона при наведении на пункт */
}



#content {
    float: left;
    width: 30%;
    height: 80vh;/* Ширина второй части */
    background-color: #fff; /* Белый цвет фона */
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 1%; /* Отступ слева от первой части */
    margin-right: 0; /* Убрали отступ справа */
}

#search-bar {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

#search-bar input {
    width: 70%; /* 70% ширины блока */
    padding: 0.5em;
    margin-right: 1%; /* Отступ между input и кнопкой */
    box-sizing: border-box;
}

#search-bar button {
    width: 28%; /* 28% ширины блока */
    padding: 0.5em;
}

#folder-info {
    margin-bottom: 1em;
}

#folder-info h3 {
    margin-bottom: 0.5em;
}

#messages {
    /* Оставим стили для блоков с сообщениями гибкими, так как они будут добавляться динамически */
}

.message-block {
    margin-bottom: 1em;
    border: 1px solid #ccc; /* Рамка серого цвета */
    padding: 1em;
    border-radius: 4px;
}

.message-block h4 {
    margin-bottom: 0.5em;
}

/* Добавим стили для кнопок сортировки */
#folder-info button {
    margin-right: 1em;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
}

#folder-info button:hover {
    background-color: #2980b9;
}





#message-details {
    float: right; /* Теперь блок будет справа */
    width: 42%; /* Половина ширины */
    height: 80vh;
    background-color: #4ecec3; /* Цвет фона */
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#sender-email h2 {
    font-size: 24px; /* Увеличенный шрифт для Email отправителя */
    margin-bottom: 0.5em;
}

#message-info {
    margin-bottom: 1em;
}

.message-date, .recipient-email {
    color: #333; /* Черный цвет текста */
    font-size: 16px; /* Размер шрифта */
    margin-bottom: 0.5em;
}

#message-content-text {
    font-size: 18px; /* Увеличенный шрифт для содержания сообщения */
}

/* Добавим стили для блока с сообщением */
#messages .message-block:hover {
    background-color: #eee;
}/* Измененный

